/* Here we can set styles for this lab page that we don't want to effect others pages */

h1 {
  text-align: center;
}

pre {
  padding-left: 10px;
  background-color: #3e5d84;
  color: white;
  font-family: "Consolas";
}
