/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* color palette */
:root {
  --dark: #1a2d44;
  --med: #3e5d84;
  --light: #739ccf;
}

/* fonts */
@font-face {
  font-family: "cattie";
  src: url("../fonts/cattie.ttf") format("truetype");
}

@font-face {
  font-family: "cute-letters";
  src: url("../fonts/cute-letters.ttf") format("truetype");
}

@font-face {
  font-family: "quicksand-regular";
  src: url("../fonts/quicksand-regular.ttf") format("truetype");
}

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  font-family: "quicksand-regular";
}

/* we can have rules apply to multiple elements at the same time with commas */
h2,h3,h4 {
  font-family: "cute-letters";
  font-size: 200%;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  font-family: "cattie";
  letter-spacing: 2px;
  word-spacing: 5px;
  font-size: 450%;
  margin-top: 7px;
  margin-bottom: 5px;
  color: var(--dark);
  text-align: center;
}

p {
  font-family: "quicksand-regular";
  font-size: 125%;
}

a {
  text-decoration: none;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  /* border: solid 1px #888; */
  background-color: var(--med);
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--light);
}

/* buttons on var(--light) backgrounds only */
.button {
  background-color: var(--med);
  color: var(--light);
  font-family: inherit;
  border: 1px solid var(--med);
  padding: 10px;
  border-radius: 4px;
}

.button:hover {
  opacity: 70%;
}

/* cat link nav bar */
#cat-links {
  display: flex;
  flex-direction: row;
}

.cat-link p {
  font-family: "cute-letters";
  font-size: medium;
  text-align: center;
  color: var(--light);
}

.cat-link canvas {
  width: 100px;
  height: 100px;
}

.cat-link {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
