h1 {
    text-align: center;
}

#js-link {
    margin: 10px 0;
    box-sizing: border-box;
}

.minor-section {
    display: flex;
    flex-direction: column;
}

.toggle-button {
    align-self: flex-start;
    background-color: var(--med);
    color: var(--light);
    border: 0;
    padding: 10px;
    border-radius: 4px;
}

.toggle {
    background-color: var(--dark);
    color: var(--light);
    flex-direction: column-reverse;
    align-items: flex-end;
}
