/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

#output {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#output img {
    padding: 10px;
    width: 50vw;
    height: auto;
}
