h1 {
    text-align: center;
}

#output {
    display: flex;
}

#outer {
    background-color: #3e5d84;
    color: #739ccf;
    border: solid 2px #3e5d84;
    position: relative;
    height: 275px;
    width: 550px;
    text-align: center;   
}

#outer p {
    margin: 0;
}

#inner {
    background-color: #739ccf;
    color: #1a2d44;
    font-size: 250%;
    position: absolute;
    bottom: 5%;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
